@import "styles.scss";


// INDEX

.video-responsive 
{
  position: fixed;
  width: 400vw;
  height: 100vh;
  left: -170%;
  filter: blur(2px);
}

.logo{
  position : absolute;
  z-index: 100;
  width: 80%;
  left: 10%;
  top: 7.5%;
}

.together{
  position : absolute;
  width : 60%;
  left: 20%;
  padding : 10px;
  bottom : 7.5%;
}

.dotting{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: linear-gradient( 45deg, transparent, transparent 50%, #00000050, #00000050 );
  background-size: 2px 2px;
}

.mobile{
  display : none;
}

.desktop{
  height : 100vh;
}

h1{
  margin : 0;
  position : absolute;
  left : 50%;
  top : 50%;
  transform : translate(-50%,-50%);
  text-align : center;
}

@media only screen and (orientation:portrait){
  .mobile{
    display : block;
  }

  h1{
    display : none;
  }
}   

//

.content_container{
  margin-bottom: 75px;
  padding-top: 75px;
}

.avatar__container{
  text-align : center;
}
.avatar{
  border-radius : 50%;
  margin-top : 32px;

  &.-negative{
    margin-top : -48px;
  }
  &.-top{
    margin-top : 16px;
  }

  &.-small{
    height : 75px;
    width : 75px;
  }
}

.username{
  margin-top : 16px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

.private{
  margin-top : 32px;
  margin-bottom : 0px;
  font-weight : bold;
  color : #C72C1C;
}

.friend__container{
  margin-top : 32px;
}

.friend__username{
  margin: 8px 0px;
}

.information__container{
  margin-top : 32px;
}

.information{
  margin-bottom: 32px;
  font-weight: bold;

  &.-space{
    margin-bottom: 48px;
  }
}

.information_space{
  margin-left : 16px;
  margin-bottom : 0px;
}

.information_group{
  padding: 8px 16px;
  color: black;
  margin-bottom: 16px;

  &.-dog{
    padding: 0;
  }
}

.information_group:last-child{
  margin-bottom : 0px;
}

.information_title{
  font-weight : bold;
  font-size: 20px;
  color : #0077C0;
}
.my_pet__container{
  overflow : visible;
  margin-top : 32px;
}

.dog_card_container{
  display: flex;
  overflow-x: scroll;
  margin-top : 32px;
}

.dog_information{
  padding-top: 16px;
}

.dog_card{
  min-width: 100%;
  min-height: 300px;
  padding: 24px;
  background: white;
  margin-right : 16px;
  position : relative;
  border-bottom: 5px solid #0287D0;
  border-top: 1px solid #0287D0;
  border-left: 1px solid #0287D0;
  border-right: 1px solid #0287D0;
}
.dog_name{
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.dog_img,
.dog_button_container{
  border-radius: 50%;
  height: 150px;
  width : 150px;
  object-fit: cover;
}

.dog_button_container{
  position : relative;
}
.dog_button{
  margin-top : 16px;
  margin-bottom: 32px;
  position : relative;
  text-align: center;
}
.plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
  background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff), #0077C0;
  background-position: center;
  background-size: 50% 2px,2px 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.close-icon
{
  display:block;
  box-sizing:border-box;
  width:50px;
  height:50px;
  border-width:5px;
  border-style: solid;
  border-color:#C72C1C;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#C72C1C;
  transition: all 0.3s ease;
  position : absolute;
  bottom : -25px;
  right : 50%;
  z-index : 5;

  transform : translateX(50%);
}
.reviews__container{
  margin-top : 32px;
}
.last_event__container{
  margin-top : 32px;
}
.error__container{
  text-align : center;
  height : 100vh;
}
.error__container h2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
button{
  outline: none !important;
}

.friend_widget_container{
  display : flex;
  flex-wrap : wrap;
  justify-content : space-evenly;
  text-align: center;
}

.friend_widget{
  height: 100px;
  width: 100%;
  position: relative;
  background: white;
  padding: 8px;
  margin-bottom: 32px;
  border-bottom: 5px solid #0287D0;
  border-top: 1px solid #0287D0;
  border-left: 1px solid #0287D0;
  border-right: 1px solid #0287D0;
  border-radius: 15px;

  &.-small{
    height : 100px;
    width : 100px;
    position : relative;
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

.more__friend{
  text-align: center;
}

.friends__handler__container{
  height: calc(100% - 150px);
  width: 100%;
  position: absolute;
  bottom: 75px;
  transition: all 1s;
  transform : translateY(100%);
  display : none;
}

.friends__handler{
  height: 75%;
  position: absolute;
  width: 100vw;
  background: white;
  padding-top: 16px; 
  bottom: 0;
}

// MEEMBERS

.member__content{
  margin-bottom: 75px;
}

.members__handler__container{
  background :#00000024;
  height: calc(100% - 150px);
  width: 100%;
  position: absolute;
  bottom: 75px;
  transition: all 1s;
}

.members__handler{
  height: 75%;
  position: absolute;
  width: 100vw;
  background: white;
  padding-top: 16px;
  bottom: 0;
}



//RANGE
input[type=range] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
}
  input[type=range]:focus {
	  outline: none;
}
 input[type=range]::-webkit-slider-thumb {
	 -webkit-appearance: none;
	 width: 2em;
	 height: 2em;
	 margin-top: 0;
	 background-color: #16a085;
	 border-radius: 1em;
	 border: 2px solid rgba(255,255,255,0.5);
	 cursor: pointer;
}
 input[type=range]::-moz-range-thumb {
	 width: 2em;
	 height: 2em;
	 margin-top: 0;
	 background-color: #16a085;
	 border-radius: 1em;
	 border: 2px solid rgba(255,255,255,0.5);
	 cursor: pointer;
}
 input[type=range]::-ms-thumb {
	 width: 2em;
	 height: 2em;
	 margin-top: 0;
	 background-color: #16a085;
	 border-radius: 1em;
	 border: 2px solid rgba(255,255,255,0.5);
	 cursor: pointer;
}
 input[type=range]::-ms-track {
	 background: transparent;
	 border-color: transparent;
	 color: transparent;
}
 