@import "styles.scss";


.capitalize{
  text-transform: capitalize;
}

// INDEX

.video-responsive 
{
  position: fixed;
  width: 400vw;
  height: 100vh;
  left: -150%;
  filter: blur(2px);
}

.logo{
  position : absolute;
  z-index: 100;
  width: 80%;
  left: 10%;
  top: 7.5%;
}

.container__introduction{
  position : absolute;
  width: 100%;
  bottom : 5%;
  text-align: center;
  color: white;
  z-index: 100;

  .introduction{
    font-size: 24px;
    margin-bottom: 32px;
  }

  .together{
    padding: 10px;
    width : 60%;
  }
}

.container__action{
  pointer-events: all;
  position: absolute;
  z-index: 100;
  bottom: 5%;
  width: 80%;
  left : 10%;
  text-align: center;

  .login, .register{
    font-size: 18px;
  }

  .log_error p{
    margin-bottom: 0px;
    color: #C72C1C;
  }

  .login__name, .login__pwd, .register__name, 
  .register__mail, .register__town, .register__password1,
  .register__password2{
    color: white;
    width: 100%;
  }

  .login__submit{
    padding: 10px;
    border-radius: 25px;
    margin: 48px 0px 24px 0px;
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background: none;

    &.-register{
      margin: 12px 0px 24px 0px;
      margin-left: 10%;
      font-size: 18px;
    }
  }

  i{
    color: white;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.input__container{
  position: relative;
  margin: 32px 0px;

  &.-center{
    text-align : center;
  }

  &.-right{
    text-align : right;
  }

  &.-first{
    margin-top : 0px;
  }
}

.choice{
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.dotting{
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: linear-gradient( 45deg, transparent, transparent 50%, #00000050, #00000050 );
  background-size: 2px 2px;
}

.mobile{
  display : none;
  height: 100vh;
}

.desktop{
  height : 100vh;

  h1{
    margin : 0;
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50%,-50%);
    text-align : center;
  }
}

@media only screen and (max-aspect-ratio: 13/9){
  .mobile{
    display : block;
  }

  .desktop{
    display: none;
  }

  .wip{
    display: none;
  }
}   

@media only screen and (min-aspect-ratio: 13/9){
  .mobile{
    display : none;
  }

  .desktop{
    display: block;
  }

  .wip{
    display: block;
  }
}


/////////////////////////////////////////////////////////////////////////////////////

.content_container{
  height: calc(100% - 120px);
  padding-top: 80px;
  margin-bottom: 80px;
}

.avatars{
  width: 60%;
  margin-left: 20%;
  position: relative;
}

.avatar__container{
  text-align : center;
}
.avatar{
  border-radius : 50%;
  margin-top : 32px;

  &.-negative{
    margin-top : -48px;
  }

  &.-noMargin{
    margin-top: 0px;
  }

  &.-top{
    margin-top : 16px;
  }

  &.-small{
    height : 75px;
    width : 75px;
  }

  &.-dog{
    height: 128px;
    width: 128px;
    object-fit: cover;
  }

  &.-master{
    position: absolute;
    left: 10%;
    bottom: 0;
  }

  &.-friend{
    margin: 0;
    position : absolute;
    left: 24px;
  }

  &.-friendlist{
    height: 75px;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 75px;
    margin-top: 0;
  }
}

.username{
  margin-top : 16px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

.private{
  margin-top : 32px;
  margin-bottom : 0px;
  font-weight : bold;
  color : #C72C1C;
}

.friend__button{
  top: 0%;
  right: 15px;
  position: absolute;

  .icon__friend{
    margin: 0px 8px 0px 4px;
  }
}

.friend__container{
  margin-top : 32px;
}

.friend__username{
  margin: 8px 0px;
}

.friend_name{
  font-size: 24px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 120px;

  &.-member{
    top : 45%;
  }

  &.-km{
    top: 65%;
    font-size: 14px;
  }
}

.information__container{
  margin-top : 32px;
}

.information{
  margin-bottom: 32px;
  font-weight: bold;

  &.-space{
    margin-bottom: 48px;
  }

  &.-first{
    margin-bottom: 16px;
  }

  &.-top{
    margin-top : 32px;
  }
}

.information_name{
  margin-top: 16px;
  font-size: 28px;
  font-weight: bold;
}

.information_space{
  margin-left : 16px;
  margin-bottom : 0px;
}

.information_group{
  padding: 8px 16px;
  color: black;
  margin-bottom: 16px;

  &.-dog{
    padding: 0;
  }

  &.-walk{
    margin-bottom: 8px;
  }
}

.information_group:last-child{
  margin-bottom : 0px;
}

.information_title{
  font-weight : bold;
  font-size: 20px;
  color : #0077C0;

  &.-top{
    margin-top: 24px;
  }
}

.my_pet__container{
  overflow : visible;
  margin-top : 32px;
}

.dog_card_container{
  display: flex;
  overflow-x: scroll;
  margin-top : 32px;
}

.dog_information_button{
  text-align: center;
}

.dog_handler, .friend_handler{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background :#00000024;
  z-index: 100;
}

.dog_handler_container, .friend_handler_container{
  z-index: 150;
  position: absolute;
  padding: 20px;
  background: white;
  opacity: 0;
  text-align: center;

  &.-noBg{
    background : none;
  }

  &.-small{
    width: 90%;
    margin-left: 5%;
  }
}

.friend_handler_container{
  width: 90%;
  margin-left: 5%;
}

.dog_handler_button_container, .friend_handler_button_container{
  display: flex;
  justify-content:center;
}

.dog_add_icon{
  position: absolute;
  font-size: 72px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

//SLIDER TIME

.bubble{
  height: 10px;
  width: 10px;
  background: #1C2A39;
  border-radius: 50%;
  margin-right: 8px;

  &:last-child(){
    margin-right: 0px;
  }

  &.-active{
    background : #0077C0;
  }
}

.dog_card_bubble_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

//

.dog_information{
  padding-top: 16px;
}

.dog_card{
  min-width: 100%;
  padding: 24px;
  background: white;
  margin-right : 16px;
  position : relative;
  border-bottom: 5px solid #0067B0;
  border-top: 1px solid #0067B0;
  border-left: 1px solid #0067B0;
  border-right: 1px solid #0067B0;

  &.-walk{
    border : none;
    margin-right: 0px;
    min-width: 45%;
  }

  &.-active{
    box-shadow: 1px 1px 10px 0px #0067B0;
  }
}
.dog_name{
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.dog_img,
.dog_button_container{
  border-radius: 50%;
  height: 150px;
  width : 150px;
  object-fit: cover;

  &.-add{
    margin-right: 0px;
    background: lightgray;
    margin-left: calc(50% - 150px / 2);
  }
}

.dog_button_container{
  position : relative;
}
.dog_button{
  margin-top : 16px;
  margin-bottom: 32px;
  position : relative;
  text-align: center;

  &.-walk{
    margin-bottom: 8px;
  }
  &.-add{
    margin-bottom: 0px;
  }
}
.plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
  background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff), #0077C0;
  background-position: center;
  background-size: 50% 2px,2px 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.close-icon
{
  display:block;
  box-sizing:border-box;
  width:50px;
  height:50px;
  border-width:5px;
  border-style: solid;
  border-color:#C72C1C;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#C72C1C;
  transition: all 0.3s ease;
  position : absolute;
  bottom : -25px;
  right : 50%;
  z-index : 5;

  transform : translateX(50%);

  &.-friendlist{
    top: 50%;
    height: 35px;
    width: 35px;
    transform: translate(0,-50%);
    right: 12px;
  }
}
.reviews__container{
  margin-top : 32px;
}
.last_event__container{
  margin-top : 32px;
}
.error__container{
  text-align : center;
  height : 100vh;
}
.error__container h2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
button{
  outline: none !important;
}

.friend_widget_container, .member_widget_container{
  display : flex;
  flex-wrap : wrap;
  justify-content : space-evenly;
  text-align: center;
}

.friend_widget{
  height: 100px;
  width: 100%;
  position: relative;
  background: white;
  padding: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #0067B0;
  // border-top: 1px solid #0067B0;
  // border-left: 1px solid #0067B0;
  // border-right: 1px solid #0067B0;
  box-shadow: 1px 1px 5px #00000040;

  &.-small{
    height : 100px;
    width : 100px;
    position : relative;
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 24px;
    margin-top: 24px;
    border-bottom: 5px solid #0067B0;
    border-top: 1px solid #0067B0;
    border-left: 1px solid #0067B0;
    border-right: 1px solid #0067B0;
  }
}

.more__friend{
  text-align: center;
  margin-top: 8px;
}

.friends__handler__container{
  height: calc(100% - 120px);
  width: 100%;
  position: absolute;
  bottom: 60px;
  transition: all 1s;
  transform : translateY(100%);
  display : none;
  z-index: 150;
}

.friends__handler{
  position: absolute;
  width: 100vw;
  padding: 32px;
  bottom: 0;
  text-align: center;
  z-index: 100;
  background: white;
  border-bottom: 5px solid #0067B0;
  border-top: 1px solid #0067B0;
  border-left: 1px solid #0067B0;
  border-right: 1px solid #0067B0;
}

// MEEMBERS

.member__content{
  margin-bottom: 60px;
  padding-top: 80px;
}

.members__handler__container, .walk__handler__container{
  background : transparent;
  height: calc(100% - 120px);
  width: 100%;
  position: absolute;
  bottom: 60px;
  transition: all 1s;
  display: none;
  transform : translateY(100%);
}

.members__handler, .walk__handler{
  position: absolute;
  width: 100vw;
  background: white;
  padding-top: 16px;
  bottom: 0;
  padding-bottom: 16px;
}

.range__number{
  display: block;
}

.tag_container{
  display: flex;
  margin: 24px 0;
}

.tags{
  color: #003780;
  padding: 8px;
  font-size: 14px;
  margin-right: 16px;
  border-bottom: 3px solid #003780;
}

.slider{
  width: 80%;
}

.slider__range{
  display: flex;
  justify-content: space-between;
  margin-bottom : 24px;
}

.submit__button{
  width: 100%;
  margin-top: 8px;
}

.slider__value, .submit__button{
  text-align: center;
}

.selected{
  background: #0067B0;
  color: white;
}

.find__more{
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.walk__type{
  font-size: 12px;
  display: block;
  text-align: center;
  width: 80px;
}

.filter__title{
  font-weight: bold;
  margin-bottom: 12px;
  color : #003780;
}

.label{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  transition: all .5s;
}

.button_choice{
  display: flex; 
  justify-content: space-around;
  margin: 0px;
}

.button_container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);

  .icon_walk{
    display: block;
    text-align: center;
    font-size: 32px;
  }
}

// WALK

.input__name{
  display: block;
  color : #003780;
  font-size : 20px;
  font-weight : bold;
  margin-bottom : 16px;
}

.walk__dog{
  display : none;
}

.walk__dog__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.date{
  margin-bottom: 16px;
}

.walk__card{
  padding: 16px;
  background: white;
  box-shadow: 1px 1px 9px #00000052;
  margin-bottom: 16px;
  border-bottom : 2px solid #0067B0;

  &:last-child{
    margin-bottom: 0px;
  }
}

.button__container{
  text-align: center;
  margin: 16px 0 0px 0;
}

.date__container, .town__container, .location__container{
  margin : 8px 0px;
}

.name__container, .date__container{
  position: relative;
}

.walk__name{
  position: absolute;
  right: 0;
}

.informations{
  margin-bottom: 24px;
}

.chiens, .master{

}

.chien__container, .master__container{
  margin: 0px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chien__container{
  margin-bottom: 32px;
}