@import "breakpoint.scss";

.button
{
  $root: '.button';
  border : none;
  background : none;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  outline: none !important;
  transition: 1s all;

  ////////////////////////////////////////////////////
  //
  //                  Child
  //
  ////////////////////////////////////////////////////


  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &:hover
  {

  }

  &:active
  {

  }

  &:focus
  {

  }

  &:disabled { 
    background: #ccc !important; 
  }


  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

    &.-transparent{
      background : transparent;
      border : 1px solid white;
      color : white;
      z-index: 100;
      border-radius: 25px;
      padding: 10px;
    }

    &.-friend{
      border : 2px solid #003780;
      color: #003780;
      padding: 5px 16px 5px 8px;
      background: transparent;
      font-size: 14px;
    }

    &.-view{
      border : 2px solid #003780;
      color: #003780;
      padding: 4px 16px;
      background: transparent;
      font-size: 14px;
    }

    &.-color {
      padding: 12px 32px;
      font-size: 16px;
      font-weight: 600;
      border: 2px solid #003780;
      color: #003780;
      cursor: pointer;
      text-align:center;
      transition: all .4s ease-in-out;

      &.-blue {
        background-color: #003780;
        border : none;
        color : white;
      }

      &.-add{
        font-size: 14px;
        padding: 8px;
      }

      &.-green {
        color: #007C21;
        border: 1px solid #007c21;
        background: transparent;
      }

      &.-red{
        background : #D73C2C;
        color: white;
      }

      &.-noBorder{
        border: none;
      }

      &.-walk{
        padding: 8px 16px;
      }
    }

    &.edit-profile {
      float: right;
      font-size: 16px;
      padding: 4px 8px 4px 8px;
    }

    &.-nomargin{
      margin: 0;
    }

    &.-lowpadding{
      padding: 4px;
    }

    &.-round{
      border-radius: 25px;
    }
        
    &.-right{
      margin-right : 16px;
    }

  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
  @include respond-below(sm) {
    & {
      
    }
  }
}
