@import "breakpoint.scss";

.button
{
  $root: '.button';
  border : none;
  background : none;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;

  ////////////////////////////////////////////////////
  //
  //                  Child
  //
  ////////////////////////////////////////////////////


  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &:hover
  {

  }

  &:active
  {

  }

  &:focus
  {

  }


  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

    &.-transparent{
      background : transparent;
      border : 1px solid white;
      color : white;
      z-index: 100;
      border-radius: 25px;
      padding: 10px;
    }

    &.-friend{
      border : 2px solid #003780;
      color: #003780;
      padding: 5px 16px 5px 8px;
      background: transparent;
      font-size: 14px;
    }

    &.-color {
      width: 200px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      height: 55px;
      text-align:center;
      border: none;
      background-size: 300% 100%;

      border-radius: 50px;
      transition: all .4s ease-in-out;

      &:hover {
        background-position: 100% 0;
        transition: all .4s ease-in-out;
      }

      &:focus {
        outline: none;
      }

      &.-blue {
        border : 2px solid #003780;
        color: #003780;
      }

      &.-green {
        border : 2px solid #007C21;
        color: #007C21;
      }
    }

    &.-small{
      width: 100px;
      margin: 8px;
    }

    &.-nomargin{
      margin: 0;
    }
    
    &.-margintop{
      margin: 12px 0px 0px 0px;
    }

  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
  @include respond-below(sm) {
    & {
      
    }
  }
}
