@import "breakpoint.scss";

.h3
{
  $root: '.h3';

  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  line-height: 1.6;

  ////////////////////////////////////////////////////
  //
  //                  Child
  //
  ////////////////////////////////////////////////////


  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &:hover
  {

  }

  &:active
  {

  }

  &:focus
  {

  }


  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

  &.-white{

  }

  &.-center{
    text-align: center;
  }

  &.-title{
    text-align: center;
    font-weight: bold;
    color : #0077C0;
  }

  &.-preview{
    line-height: 64px;
  }

  &.-space{
    margin-bottom: 24px;
  }

  &.-first{
    margin-top: 16px;
  }

  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
  @include respond-below(sm) {
    & {

    }
  }
}
