@import "breakpoint.scss";

.h4
{
  $root: '.h4';

  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;

  ////////////////////////////////////////////////////
  //
  //                  Child
  //
  ////////////////////////////////////////////////////


  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &:hover
  {

  }

  &:active
  {

  }

  &:focus
  {

  }


  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

  &.-white{
    
  }

  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
  @include respond-below(sm) {
    & {
      
    }
  }
}
