.select
{
  $root: '.select';

  border: 1px solid white;
  border-radius: 2px;

  outline : none;

  @keyframes bounce{
    10%,40%{
        transform: translateX(-10px);
        border-bottom-color : red;
    }
    40%,70%{
        transform: translateX(10px);
        border-bottom-color : red;
    }
    70%,100%{
        transform: translateX(0px);
        border-bottom-color : red;
    }
  }

  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &::placeholder
  {
 
  }

  &:active,
  &:hover,
  &:focus
  {

  }

  &.-error
  {
   
  }

  &:invalid
  {
   
  }

  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

  &.-transparent
  {
    border : none;
    border-bottom: 1px solid white;
    background: transparent;

    &:not(:placeholder-shown)
    {
         
    }

    option{
      background : #0287D0;
      color: white;
    }
  }

  &.-walk{
    border: 2px solid #003780;
    padding: 8px;
    width: 90%;
    margin-left: 24px;
    background : white;

    option{
      background : white;
      color: black;
    }
  }

  &.-addDog{
    border-bottom: 2px solid #003780;
    padding: 8px 0px 8px 8px;
    width: 100%;
    background : white;
    margin-top: 16px;

    &:last-child{
      margin-bottom: 16px;
    }
  }

  &.-error{
    animation: bounce 1s forwards;
  }

  &.-nomargin{
    margin-left: 0;
    width: 100%;
  }

  &.-small{
    width: 80%;
  }
}