@import "breakpoint.scss";

body{
    font-family: 'Cabin', sans-serif !important;
    font-size : 18px;
    line-height : 1.6;
    background : #f6f8fa;
    overflow-x: hidden;
}

@media only screen and (orientation:portrait){

}