@import "breakpoint.scss";

.h2
{
  $root: '.h2';

  font-family: 'Fira Sans', sans-serif;
  font-size: 28px;
  line-height: 1.6;

  ////////////////////////////////////////////////////
  //
  //                  Child
  //
  ////////////////////////////////////////////////////


  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &:hover
  {

  }

  &:active
  {

  }

  &:focus
  {

  }


  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

  &.-landing{
    position: absolute;
    top: 65%;
    z-index: 100;
    left: 50%;
    transform : translateX(-50%);
    display: inline-table;
    color: white;
  }

  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
  @media (min-width: 768px) and (max-width: 1024px) {

    &.-landing{
      font-size: 48px;
      top: 45%;
    }
  }                                          
}
