body {
  font-family: 'Cabin', sans-serif !important;
  font-size: 18px;
  line-height: 1.6;
  background: #f6f8fa;
  overflow-x: hidden;
}

.h1 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  font-size: 32px;
  line-height: 1.6;
  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
}

.h1.-landing {
  font-size: 64px;
  position: absolute;
  top: 30%;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: white;
  display: inline-table;
}

.h1.-landing__logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 16px;
  letter-spacing: 2px;
}

@media (min-width: 1920px) {
  .h1.-landing {
    top: 15%;
    left: 60%;
    font-size: 128px;
  }
}

@media (min-width: 1440px) and (max-width: 1918px) {
  .h1.-landing {
    top: 15%;
    left: 60%;
    font-size: 128px;
  }
}

@media (min-width: 1281px) and (max-width: 1439px) {
  .h1.-landing {
    top: 15%;
    left: 60%;
    font-size: 128px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .h1.-landing {
    font-size: 92px;
    top: 15%;
    left: 65%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .h1.-landing {
    left: 65%;
    top: 15%;
  }
}

.h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 28px;
  line-height: 1.6;
  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
}

.h2.-landing {
  position: absolute;
  top: 65%;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-table;
  color: white;
}

@media (min-width: 1920px) {
  .h2.-landing {
    top: 60%;
    font-size: 64px;
  }
}

@media (min-width: 1440px) and (max-width: 1918px) {
  .h2.-landing {
    top: 60%;
    font-size: 64px;
  }
}

@media (min-width: 1281px) and (max-width: 1439px) {
  .h2.-landing {
    top: 60%;
    font-size: 64px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .h2.-landing {
    font-size: 48px;
    top: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .h2.-landing {
    font-size: 48px;
    top: 60%;
  }
}

.h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  line-height: 1.6;
  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
}

.h3.-center {
  text-align: center;
}

.h3.-title {
  text-align: center;
  font-weight: bold;
  color: #0077C0;
}

.h3.-preview {
  line-height: 64px;
}

.h3.-space {
  margin-bottom: 24px;
}

.h3.-first {
  margin-top: 16px;
}

.h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  outline: none !important;
  -webkit-transition: 1s all;
  transition: 1s all;
  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
}

.button:disabled {
  background: #ccc !important;
}

.button.-transparent {
  background: transparent;
  border: 1px solid white;
  color: white;
  z-index: 100;
  border-radius: 25px;
  padding: 10px;
}

.button.-friend {
  border: 2px solid #003780;
  color: #003780;
  padding: 5px 16px 5px 8px;
  background: transparent;
  font-size: 14px;
}

.button.-view {
  border: 2px solid #003780;
  color: #003780;
  padding: 4px 16px;
  background: transparent;
  font-size: 14px;
}

.button.-color {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #003780;
  color: #003780;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button.-color.-blue {
  background-color: #003780;
  border: none;
  color: white;
}

.button.-color.-blue.-inverted {
  color: #003780;
  background: white;
}

.button.-color.-add {
  font-size: 14px;
  padding: 8px;
}

.button.-color.-green {
  color: #007C21;
  border: 1px solid #007c21;
  background: transparent;
}

.button.-color.-red {
  background: #D73C2C;
  color: white;
}

.button.-color.-noBorder {
  border: none;
}

.button.-color.-walk {
  padding: 8px 16px;
}

.button.-margintop {
  margin-top: 32px;
}

.button.edit-profile {
  float: right;
  font-size: 16px;
  padding: 4px 8px 4px 8px;
}

.button.-nomargin {
  margin: 0;
}

.button.-lowpadding {
  padding: 4px;
}

.button.-round {
  border-radius: 25px;
}

.button.-right {
  margin-right: 16px;
}

.button.-top {
  margin-top: 16px;
}

.button.-full {
  width: 100%;
}

.button.-more {
  font-size: 12px;
  margin-top: 18px;
  padding: 4px 8px;
  width: 100%;
}

/* --------------------------------

pawtopia Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'pawtopia';
  src: url("font/../../font/fonts/pawtopia.eot");
  src: url("font/../../font/fonts/pawtopia.eot") format("embedded-opentype"), url("font/../../font/fonts/pawtopia.woff2") format("woff2"), url("font/../../font/fonts/pawtopia.woff") format("woff"), url("font/../../font/fonts/pawtopia.ttf") format("truetype"), url("font/../../font/fonts/pawtopia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------
	base class definition
-------------------------*/
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'pawtopia';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  change icon size
-------------------------*/
/* relative units */
.icon-sm {
  font-size: 0.8em;
}

.icon-lg {
  font-size: 1.2em;
}

/* absolute units */
.icon-16 {
  font-size: 16px;
}

.icon-32 {
  font-size: 32px;
}

/*----------------------------------
  add a square/circle background
-----------------------------------*/
.icon-bg-square,
.icon-bg-circle {
  padding: 0.35em;
  background-color: #eee;
}

.icon-bg-circle {
  border-radius: 50%;
}

/*------------------------------------
  use icons as list item markers
-------------------------------------*/
.icon-ul {
  padding-left: 0;
  list-style-type: none;
}

.icon-ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.4;
}

.icon-ul > li > .icon {
  margin-right: 0.4em;
  line-height: inherit;
}

/*------------------------
  spinning icons
-------------------------*/
.icon-is-spinning {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------
  rotated/flipped icons
-------------------------*/
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icon-flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icon-flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

/*------------------------
	icons
-------------------------*/
.icon-home-52::before {
  content: "\ea02";
}

.icon-ic_photo_camera_48px::before {
  content: "\ea03";
}

.icon-ic_edit_48px::before {
  content: "\ea04";
}

.icon-ic_person_add_48px::before {
  content: "\ea05";
}

.icon-ic_people_48px::before {
  content: "\ea06";
}

.icon-ic_visibility_48px::before {
  content: "\ea07";
}

.icon-ic_visibility_off_48px::before {
  content: "\ea08";
}

.icon-single-01::before {
  content: "\ea09";
}

.icon-multiple-11::before {
  content: "\ea0a";
}

.icon-calendar-60::before {
  content: "\ea0b";
}

.icon-ic_home_48px::before {
  content: "\ea0c";
}

.icon-ic_directions_run_48px::before {
  content: "\ea0d";
}

.icon-ic_map_48px::before {
  content: "\ea0e";
}

.icon-ic_pets_48px::before {
  content: "\ea0f";
}

.icon-ic_check_48px::before {
  content: "\ea10";
}

.icon-email-84::before {
  content: "\ea11";
}

.icon-ic_sms_48px::before {
  content: "\ea12";
}

.icon-add_dog::before {
  content: "\ea14";
}

.icon-add_event::before {
  content: "\ea15";
}

.icon-zoom-2::before {
  content: "\ea16";
}

.icon-ic_location_searching_48px::before {
  content: "\ea17";
}

.icon-ic_location_on_48px::before {
  content: "\ea18";
}

.icon-ic_location_off_48px::before {
  content: "\ea19";
}

.icon-ic_view_carousel_48px::before {
  content: "\ea1a";
}

.icon-ic_view_list_48px::before {
  content: "\ea1b";
}

.icon-ic_favorite_48px::before {
  content: "\ea1d";
}

.icon-ic_import_contacts_48px::before {
  content: "\ea1e";
}

.icon-ic_share_48px::before {
  content: "\ea1f";
}

.icon-ic_notifications_48px::before {
  content: "\ea20";
}

.icon-sent::before {
  content: "\ea21";
}

.icon-review::before {
  content: "\ea22";
}

.input {
  border: 1px solid white;
  border-radius: 2px;
  background: white;
  outline: none;
}

@-webkit-keyframes bounce {
  10%, 40% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    border-bottom-color: red;
  }
  40%, 70% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    border-bottom-color: red;
  }
  70%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-bottom-color: red;
  }
}

@keyframes bounce {
  10%, 40% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    border-bottom-color: red;
  }
  40%, 70% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    border-bottom-color: red;
  }
  70%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-bottom-color: red;
  }
}

.input:disabled {
  background: #ccc !important;
}

.input.-transparent {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  width: 100%;
  color: white;
}

.input.-transparent::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.input.-transparent:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.input.-transparent::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.input.-transparent::placeholder {
  color: white;
  opacity: 1;
}

.input.-walk {
  border-bottom: 2px solid #003780;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  width: 90%;
  margin-left: 24px;
}

.input.-walk::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.input.-walk:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.input.-walk::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.input.-walk::placeholder {
  color: black;
  opacity: 1;
}

.input.-message {
  position: fixed;
  bottom: 76px;
  margin-left: 4px;
  width: 80%;
}

.input.-time {
  width: 30%;
  margin-bottom: 16px;
  text-align: center;
  padding: 8px 8px 8px 16px;
}

.input.-error {
  -webkit-animation: bounce 1s forwards;
          animation: bounce 1s forwards;
}

.input.-succeed {
  border-bottom-color: green;
}

.input.-nomargin {
  margin-left: 0;
  width: 100%;
}

.input.-bottom {
  margin-bottom: 24px;
}

input[type="submit"] {
  display: block;
}

input[type="date"] {
  background: white;
}

input[type="date"] {
  cursor: pointer;
  -webkit-appearance: textfield;
  background: white;
}

input[type="date"].-walk {
  border: 2px solid #003780;
}

input[type="date"]::-ms-clear {
  display: none;
}

.hidden {
  display: none;
}

input[type=range] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  margin-top: -16px;
  background-color: #007C21;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  margin-top: -16px;
  background-color: #16a085;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: 2em;
  height: 2em;
  margin-top: -16px;
  background-color: #16a085;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  border: 1px solid #007C21;
}

.select {
  border: 1px solid white;
  border-radius: 2px;
  outline: none;
}

@keyframes bounce {
  10%, 40% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    border-bottom-color: red;
  }
  40%, 70% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    border-bottom-color: red;
  }
  70%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-bottom-color: red;
  }
}

.select.-transparent {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
}

.select.-transparent option {
  background: #0287D0;
  color: white;
}

.select.-walk {
  border: 2px solid #003780;
  padding: 8px;
  width: 90%;
  margin-left: 24px;
  background: white;
}

.select.-walk option {
  background: white;
  color: black;
}

.select.-addDog {
  border-bottom: 2px solid #003780;
  padding: 8px 0px 8px 8px;
  width: 100%;
  background: white;
  margin-top: 16px;
}

.select.-addDog:last-child {
  margin-bottom: 16px;
}

.select.-error {
  -webkit-animation: bounce 1s forwards;
          animation: bounce 1s forwards;
}

.select.-nomargin {
  margin-left: 0;
  width: 100%;
}

.select.-small {
  width: 80%;
}

.select.-nomargintop {
  margin-top: 0;
}
/*# sourceMappingURL=styles.css.map */